{{- $git_email := promptStringOnce . "git_email" "Git email address" "git@zfix.org" -}}
{{- $gh_pat := promptStringOnce . "gh_pat" "Github PAT" -}}

[data]
    git_email = {{ $git_email | quote }}
    gh_pat = {{ $gh_pat | quote }}

[env]
    GITHUB_TOKEN = {{ $gh_pat | quote }}

