Xcursor.theme: Vanilla-DMZ
Xcursor.size: 12

xterm*faceName: xft:ubuntu mono-13

urxvt.termName: rxvt-unicode-256color
urxvt.depth: 32
urxvt.background: [100]#000000
urxvt.foreground: [100]#FFFFFF
urxvt.intensitystyles: false
urxvt.scrollBar: false
urxvt.scrollWithBuffer: false
urxvt.scrollTtyKeypress: true
urxvt.font: xft:ubuntu mono-12
urxvt.savelines: 5000

urxvt.perl-ext-common: font-size
urxvt.keysym.C-plus: perl:font-size:increase
urxvt.keysym.C-minus: perl:font-size:decrease

! https://bbs.archlinux.org/viewtopic.php?pid=1084018#p1084018
! Colors
!*background:                    #262626
!*foreground:                    #c2c2b0

! Black + DarkGrey
*color0:                        #262626
*color8:                        #73675b
! DarkRed + Red
*color1:                        #a64211
*color9:                        #cc5214
! DarkGreen + Green
*color2:                        #638046
*color10:                       #80a65b
! DarkYellow + Yellow
*color3:                        #bf8c25
*color11:                       #e6a82d
! DarkBlue + Blue
*color4:                        #4d6d99
*color12:                       #6088bf
! DarkMangenta + Mangenta
*color5:                        #996b89
*color13:                       #bf86ac
! DarkCyan + Cyan
*color6:                        #6b8e99
*color14:                       #86b1bf
! LightGrey + White
*color7:                        #998a7a
*color15:                       #c2c2b0
