{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

# nvim and mise might not be properly present at first install,
# so we run it very explicitly.

echo "Updating nvim plugins..."
eval "$(~/.local/bin/mise activate zsh)"

# Ignore excessive lazy output
# Will not see errors, but what can you do...
mise x neovim -- nvim --headless "+Lazy! sync" +qa > /dev/null 2>&1

{{- end -}}
