{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

echo "Updating zsh plugins..."

# Update Antidote & OMZ
# Disable omz update prompt, we do it manually
zstyle ':omz:update' mode disabled

# Load and update antidote
if [[ ! -d ${ZDOTDIR:-~}/.antidote ]]; then
    git clone --depth=1 \
        https://github.com/mattmc3/antidote.git \
        ${ZDOTDIR:-~}/.antidote
fi
source ${ZDOTDIR:-~}/.antidote/antidote.zsh

zstyle ':antidote:bundle' use-friendly-names 'yes'

antidote load
antidote update

# Update omz
"$(antidote path ohmyzsh/ohmyzsh)/tools/upgrade.sh" -v silent

{{- end -}}
