{{- if eq .chezmoi.os "windows" -}}

winget install -e --id jdx.mise

mkdir -force -p $HOME\Documents\PowerShell\
echo 'mise activate pwsh | Out-String | Invoke-Expression' >> $HOME\Documents\PowerShell\Microsoft.PowerShell_profile.ps1

{{- end -}}
