# Default Snippets according to my style

snippet cl "class .. (class)" !
class ${1:`!p snip.rv = snip.basename or "name"`} {
public:
    ${1/(\w+).*/$1/}(${2:arguments});
    virtual ~${1/(\w+).*/$1/}();

private:
    ${3:/* data */}
};
endsnippet

snippet prop "Property getters and setters" b!
${1:type} ${2:name}() const { return $2_; }
void $2($1 $2) { $2_ = $2; }
endsnippet
