################
#  MATH STUFF  #
################
snippet "\bma\b" "bold matrix" !r
\mat{${2:${VISUAL:content}}}
endsnippet

snippet "\bbin(om)?\b" "binomial coefficient" !r
\binom{${1:n}}{${2:k}}
endsnippet
