snippet "c ".vimrc category" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:Category}
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
${2:Content}
endsnippet

snippet bundle "New Bundle Line" b
Bundle '${1:Repo}'
endsnippet
