snippet "c ".vimrc category" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:Category}
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
${2}

endsnippet

snippet Bundle "New Bundle Line" b
Bundle '${1:Repo}'
endsnippet
