font-family = FiraCode Nerd Font Mono Ret

shell-integration-features = ssh-env

{{- if eq .chezmoi.os "darwin" -}}
font-size = 13
font-thicken = true

background-opacity = 0.8
background-blur = macos-glass-regular
{{- else -}}
font-size = 12

background-opacity = 0.8
{{- end -}}
