[Desktop Entry]
Version=1.0
Type=Application
Name=compton
GenericName=X compositor
Comment=Compositor for X11
Categories=Utility;
Exec=compton --xrender-sync-fence
Icon=compton
