environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
layout {
    gaps 12
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        width 4
    }
    border {
        off
        width 4
    }
    shadow {
        // on
        softness 30
        spread 3
        offset x=0 y=5
    }
}
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
spawn-at-startup "niri-float-sticky"
hotkey-overlay {
    skip-at-startup
}
debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
include "./input-output.kdl"
include "./keybindings.kdl"
include "./window-rules.kdl"
include "./noctalia.kdl"

