layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "gtk3"
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
    skip-at-startup
}
debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
include "./input.kdl"
include "./outputs.kdl"
include "./keybindings.kdl"
include "./layout.kdl"
include "./window-rules.kdl"
include "./startup.kdl"
include "./noctalia.kdl"
