layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        width 3
    }
    border {
        off
    }
    shadow {
        off
    }
}
blur {
    // off
    passes 3
    offset 5
    noise 0.02
    saturation 1.0
}

