layout {

    focus-ring {
        active-color   "#575992"
        inactive-color "#fbf8ff"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#575992"
        inactive-color "#fbf8ff"
        urgent-color   "#ba1a1a"
    }


    tab-indicator {
        active-color   "#575992"
        inactive-color "#e1e0ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#57599280"
    }
}

recent-windows {
    highlight {
        active-color "#575992"
        urgent-color "#ba1a1a"
    }
}
