window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
