#!/bin/sh

##############
#  Settings  #
##############
xrdb -merge ~/.Xresources
xmodmap ~/.Xmodmap
xsetroot -cursor_name left_ptr
setxkbmap -layout de -variant nodeadkeys
# No beeping
xset -b
# Disable Touchpad
xinput set-prop "$(xinput --list --name-only | grep -i Synaptics | head -n 1)" "Device Enabled" 0

##############
#  Programs  #
##############
redshift -l 48.25:11.65 -t 6300:4800 &
~/.bin/gajim_auto_reconnect.sh &
unclutter &

#############
#  Autorun  #
#############
dex -a &
