#!/bin/sh

##############
#  Settings  #
##############
xrdb -merge ~/.Xresources
xsetroot -cursor_name left_ptr
setxkbmap -layout de -variant nodeadkeys
xmodmap ~/.Xmodmap
# No beeping
xset -b
# Disable Touchpad when typing
( sleep 0.5 ; syndaemon -k -i 1 -d ) &
( sleep 1 ; synclient PalmDetect=1 ) &
( sleep 1 ; synclient TouchpadOff=1 ) &
export LIBVA_DRIVER_NAME=vdpau

#############
#  Keyring  #
#############
eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
export GPG_AGENT_INFO SSH_AUTH_SOCK

###################
#  LightDM stuff  #
###################
light-locker &

##############
#  Programs  #
##############
start-pulseaudio-x11 &
redshift -l 48.25:11.65 -t 6300:4800 &
blueman-applet &
