Xcursor.theme: Human
Xcursor.size:  12

Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

xterm*faceName:   xft:ubuntu mono-13
xterm*background: black
xterm*foreground: white

urxvt.font: \
        xft:DeJaVu Sans Mono-11,\
        xft:Bitstream Vera Sans Mono-11,\
        xft:Liberation Mono-11,\
        xft:Code2000-11
urxvt.letterSpace:                 -2
urxvt.termName:                    rxvt-unicode-256color
urxvt.depth:                       32
urxvt.background:                  [100]#000000
urxvt.foreground:                  [100]#FFFFFF
urxvt.intensitystyles:             false
urxvt.scrollstyle:                 plain
urxvt.scrollBar:                   true
urxvt.secondaryScreen:             true
urxvt.secondaryScroll:             true
urxvt.secondaryWheel:              true
urxvt.scrollTtyOutput:             false
urxvt.scrollWithBuffer:            true
urxvt.scrollTtyKeypress:           true
urxvt.urgentOnBell:                true
urxvt.saveLines:                   10000
urxvt.iso14755:                    false
! C-Tab and C-S-Tab to F19, F20
urxvt.keysym.Control-Tab:          \033[33~
urxvt.keysym.Control-ISO_Left_Tab: \033[34~
! tmux extension: http://anti.teamidiot.de/static/nei/*/Code/urxvt/osc-xterm-clipboard
urxvt.perl-ext-common:             default,font-size,osc-xterm-clipboard,url-select,keyboard-select
urxvt.url-select.launcher:         firefox
urxvt.url-select.underline:        true
urxvt.keysym.M-s:                  perl:keyboard-select:search
urxvt.keysym.M-v:                  perl:keyboard-select:activate
urxvt.keysym.M-u:                  perl:url-select:select_next
urxvt.keysym.M-plus:               perl:font-size:increase
urxvt.keysym.M-minus:              perl:font-size:decrease

rofi.opacity:       90
rofi.width:         25
rofi.lines:         5
rofi.columns:       1
rofi.eh:            2
rofi.font:          Aller 18
rofi.color-enabled: true
! State:            'bg',          'fg',    'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:  argb:00203040, #e8e6df, argb:cc2d4359, argb:cc46698c, #e8e6df
rofi.color-active:  argb:00203040, #99cc99, argb:cc2d4359, argb:cc46698c, #99cc99
rofi.color-urgent:  argb:00203040, #f2777a, argb:cc2d4359, argb:cc46698c, #f2777a
!                   'bg',          'border'
rofi.color-window:  argb:cc203040, argb:cc203040, argb:cc203040

rofi.matching:      fuzzy

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21: base06
