Xcursor.theme: Human
Xcursor.size:  12
Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

xterm*faceName:   xft:ubuntu mono-13
xterm*background: black
xterm*foreground: white

urxvt.font: \
        xft:DeJaVu Sans Mono-11,\
        xft:Bitstream Vera Sans Mono-11,\
        xft:Liberation Mono-11,\
        xft:Code2000-11
urxvt.letterSpace:                 -2
urxvt.termName:                    rxvt-unicode-256color
urxvt.depth:                       32
urxvt.background:                  [100]#000000
urxvt.foreground:                  [100]#FFFFFF
urxvt.intensitystyles:             false
urxvt.scrollstyle:                 plain
urxvt.scrollBar:                   true
urxvt.secondaryScreen:             true
urxvt.secondaryScroll:             true
urxvt.secondaryWheel:              true
urxvt.scrollTtyOutput:             false
urxvt.scrollWithBuffer:            true
urxvt.scrollTtyKeypress:           true
urxvt.urgentOnBell:                true
urxvt.saveLines:                   10000
urxvt.iso14755:                    false
! C-Tab and C-S-Tab to F19, F20
urxvt.keysym.Control-Tab:          \033[33~
urxvt.keysym.Control-ISO_Left_Tab: \033[34~
! tmux extension: http://anti.teamidiot.de/static/nei/*/Code/urxvt/osc-xterm-clipboard
urxvt.perl-ext-common:             default,font-size,osc-xterm-clipboard,url-select,keyboard-select
urxvt.url-select.launcher:         firefox
urxvt.url-select.underline:        true
urxvt.keysym.M-s:                  perl:keyboard-select:search
urxvt.keysym.M-v:                  perl:keyboard-select:activate
urxvt.keysym.M-u:                  perl:url-select:select_next
urxvt.keysym.M-plus:               perl:font-size:increase
urxvt.keysym.M-minus:              perl:font-size:decrease

rofi.opacity:                      95
rofi.width:                        25
rofi.lines:                        5
rofi.columns:                      1
rofi.eh:                           2
rofi.font:                         Aller 15
rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #e0e4ea, #393f4d, #2a4b73, #ffffff
rofi.color-active: #2f343f, #cb575d, #393f4d, #2a4b73, #ff6d75
rofi.color-urgent: #2a4b73, #ffffff, #2a4b73, #8092e7, #ffffff
rofi.fuzzy:                          true

! Base16-Tomorrow
*color00: #1D1F21
*color01: #CC6666
*color02: #B5BD68
*color03: #F0C674
*color04: #81A2BE
*color05: #B294BB
*color06: #8ABEB7
*color07: #C5C8C6
*color08: #969896
*color09: #CC6666
*color10: #B5BD68
*color11: #F0C674
*color12: #81A2BE
*color13: #B294BB
*color14: #8ABEB7
*color15: #FFFFFF
*color16: #DE935F
*color17: #A3685A
*color18: #282A2E
*color19: #373B41
*color20: #B4B7B4
*color21: #E0E0E0
