Xcursor.theme: Human
Xcursor.size:  12

Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

xterm*faceName:   xft:ubuntu mono-13
xterm*background: black
xterm*foreground: white

urxvt.font: \
        xft:DeJaVu Sans Mono-11,\
        xft:Bitstream Vera Sans Mono-11,\
        xft:Liberation Mono-11,\
        xft:Code2000-11
urxvt.letterSpace:                 -2
urxvt.termName:                    rxvt-unicode-256color
urxvt.depth:                       32
urxvt.background:                  [100]#000000
urxvt.foreground:                  [100]#FFFFFF
urxvt.intensitystyles:             false
urxvt.scrollstyle:                 plain
urxvt.scrollBar:                   true
urxvt.secondaryScreen:             true
urxvt.secondaryScroll:             true
urxvt.secondaryWheel:              true
urxvt.scrollTtyOutput:             false
urxvt.scrollWithBuffer:            true
urxvt.scrollTtyKeypress:           true
urxvt.urgentOnBell:                true
urxvt.saveLines:                   10000
urxvt.iso14755:                    false
! C-Tab and C-S-Tab to F19, F20
urxvt.keysym.Control-Tab:          \033[33~
urxvt.keysym.Control-ISO_Left_Tab: \033[34~
! tmux extension: http://anti.teamidiot.de/static/nei/*/Code/urxvt/osc-xterm-clipboard
urxvt.perl-ext-common:             default,font-size,osc-xterm-clipboard,url-select,keyboard-select
urxvt.url-select.launcher:         firefox
urxvt.url-select.underline:        true
urxvt.keysym.M-s:                  perl:keyboard-select:search
urxvt.keysym.M-v:                  perl:keyboard-select:activate
urxvt.keysym.M-u:                  perl:url-select:select_next
urxvt.keysym.M-plus:               perl:font-size:increase
urxvt.keysym.M-minus:              perl:font-size:decrease

rofi.opacity:       90
rofi.width:         25
rofi.lines:         5
rofi.columns:       1
rofi.eh:            2
rofi.font:          Aller 18
rofi.color-enabled: true
! State:            'bg',          'fg',    'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:  argb:00203040, #e8e6df, argb:cc2d4359, argb:cc46698c, #e8e6df
rofi.color-active:  argb:00203040, #99cc99, argb:cc2d4359, argb:cc46698c, #99cc99
rofi.color-urgent:  argb:00203040, #f2777a, argb:cc2d4359, argb:cc46698c, #f2777a
!                   'bg',          'border'
rofi.color-window:  argb:cc203040, argb:cc203040, argb:cc203040

rofi.matching:      fuzzy

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

*.color0:       #2d2d2d
*.color1:       #f2777a
*.color2:       #99cc99
*.color3:       #ffcc66
*.color4:       #6699cc
*.color5:       #cc99cc
*.color6:       #66cccc
*.color7:       #d3d0c8

*.color8:       #747369
*.color9:       #f2777a
*.color10:      #99cc99
*.color11:      #ffcc66
*.color12:      #6699cc
*.color13:      #cc99cc
*.color14:      #66cccc
*.color15:      #f2f0ec

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      #f99157
*.color17:      #d27b53
*.color18:      #393939
*.color19:      #515151
*.color20:      #a09f93
*.color21:      #e8e6df
